$board1: #4472C4;
$board2: #A9D18E;
$board3: #D0CECE;
$fieldBkg: #DAE3F3;
$formBkg: #BDD7EE;
$formBkg2: #e7bdee;
$formBkg3: #c3eebd;
$formSub: #C5E0B4;
$formTtl: #FFE699;
$formTt2: #c0f1f8;
$formTt3: #c0f8e3;
$formOtl: #2F528F;
$formDel: #F4B183;
$formCnl: #D0CECE;
$myGroupsBkg: #F4B183;
$utility: linear-gradient(rgb(223, 223, 223), rgb(125, 123, 131));