@import "./variables";
@import "./header";
@import "./forms";
@import "./board";
@import "./search";
@import "./group";
@import "./modal";
@import "./addOns";
@import "./myGroups";
@import "./frontPage";

@mixin flexCenter($direction) {
  flex-direction: $direction;
  display: flex;
  justify-content: center;
  align-items: center;
}

//Main overarching page style
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.app {
  background: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  min-width: 100vw;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  flex-wrap: wrap;
  margin-top: 4rem;
  width: calc(100vw - 2px);

  .utilities {
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: space-between;
    align-items: start;
  }
}

h1 {
  color: white;
  font-style: italic;
  align-self: center;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin: 10px;
  color: #383838;
}

@media (min-width: 400px) {
  .body {
    width: 360px;
  }
}
